<div class="content-wrapper container-xxl p-0">
  <div class="content-body">

    <ngb-alert [type]="'primary'" [dismissible]="true" *ngIf="success" >
      <div class="alert-body">
        <p>{{ msg }}</p>
      </div>
    </ngb-alert>
    <ngb-alert [type]="'danger'" [dismissible]="true" *ngIf="error" >
      <div class="alert-body">
        <p>{{ msg }}</p>
      </div>
    </ngb-alert>

    <div id="user-profile">
      <!-- profile header -->
      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <img class="card-img-top" [src]="data.profileData.header.coverImg" alt="User Profile Image" />
            <!--/ profile cover photo -->

            <div class="position-relative">
              <!-- profile picture -->
              <div class="profile-img-container d-flex align-items-center text-center">
                <div class="profile-img">
                  <img [src]="currentUser.profile_link"  class="rounded img-fluid" alt="Card image" />
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2 class="text-white">CoinPes</h2>
                  <p class="text-white">{{ currentUser.username }}</p>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div class="profile-header-nav">
              <!-- navbar -->
              <nav class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100">
                <button
                  class="btn btn-icon navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  (click)="toggleMenu = !toggleMenu"
                  rippleEffect
                >
                  <i data-feather="align-justify" class="font-medium-5"></i>
                </button>

                <!-- collapse  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="toggleMenu">
                  <div class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0">
                    <ul class="nav nav-pills mb-0">
                      <li class="nav-item">
                        <a class="nav-link font-weight-bold active" rippleEffect href="javascript:void(0)">
                          <span class="d-none d-md-block">Trust</span>
                          <i data-feather="user-plus" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="button nav-link font-weight-bold"  (click)="block(external_username)" href="javascript:void(0)">
                          <span class="d-none d-md-block" >Block</span>
                          <i data-feather="user-x" class="d-block d-md-none"></i>
                        </a>
                      </li>

                    </ul>

                  </div>
                </div>
                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
          </div>
        </div>
      </div>
      <!--/ profile header -->

      <!-- profile info section -->
      <section id="profile-info">
        <div class="row">
          <!-- left profile info section -->
          <div class="col-lg-12 col-12 order-2 order-lg-1">
            <!-- about -->
            <div class="card">
              <div class="card-body">
                <h5 class="mb-75">About</h5>
                <p class="card-text">
                  {{ currentUser.about}}
                </p>
                <div class="mt-2">
                  <h5 class="mb-75">Joined:</h5>
                  <p class="card-text">{{currentUser.apiRegistrationDate | date }}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Lives:</h5>
                  <p class="card-text">{{ currentUser.country_name}}</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Previous Trades:</h5>
                  <p class="card-text">NA</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-50">Has Blocked:</h5>
                  <p class="card-text mb-0">{{has_blocked}} People</p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-50">Blocked By:</h5>
                  <p class="card-text mb-0">{{blocked_by}} People</p>
                </div>
              </div>
            </div>
            <!--/ about -->

            <!-- twitter feed card -->
            <div class="card">
              <div class="card-body">
                <h5>Feedbacks</h5>
                <!-- twitter feed -->
                <div class="profile-twitter-feed mt-2" *ngFor="let feed of feeds">
                  <div class="d-flex justify-content-start align-items-center mb-1">
                    <!-- <div class="avatar mr-1">
                      <img [src]="twitterFeedsRef.imgUrl" alt="avatar img" height="40" width="40" />
                    </div> -->
                    <div class="profile-user-info">
                      <h6 class="mb-0">{{ feed.buyer }}</h6>
                      <a href="javascript:void(0)">
                        <small class="text-muted">{{feed.seller}}</small>
                        <i data-feather="check-circle"></i>
                      </a>
                    </div>
                    <div class="profile-star ml-auto">
                      <i
                        class="font-medium-3 fa"
                        [ngClass]="{
                          'fa-star text-warning': feed.favorite === true,
                          'fa-star-o': feed.favorite !== true
                        }"
                      ></i>
                    </div>
                  </div>
                  <p class="card-text mb-50">{{ feed.coment }}</p>
                  <a href="javascript:void(0)">
                    <small>{{ feed.id }}</small>
                  </a>
                </div>
              </div>
            </div>
            <!--/ twitter feed card -->
          </div>
          <!--/ left profile info section -->

        </div>

        <!-- reload button -->
        <div class="row">
          <div class="col-12 text-center">
            <button
              type="button"
              class="btn btn-sm btn-primary block-element border-0 mb-1"
              rippleEffect
              (click)="loadMore()"
            >
              <span
                role="status"
                aria-hidden="true"
                [class.spinner-border]="loadMoreRef"
                class="spinner-border-sm"
              ></span>
              Load More
            </button>
          </div>
        </div>
        <!--/ reload button -->
      </section>
      <!--/ profile info section -->
    </div>
  </div>
</div>

