<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row match-height">
      <!-- Medal Card -->
      <div class="col-xl-4 col-md-6 col-12">
        <div class="card card-congratulation-medal">
          <div class="card-body">
            <h5>{{username}}🎉 </h5>
            <p class="card-text font-small-3">{{joined}}</p>
            <h3 class="mb-75 mt-2 pt-50">
              <a href="javascript:void(0);">{{balance}}</a>
            </h3>
            <button type="button" class="btn btn-primary" rippleEffect>TRADE NOW</button>
            <img src="assets/images/illustration/badge.svg" class="congratulation-medal" alt="Medal Pic"/>
          </div>
        </div>
      </div>
      <!--/ Medal Card -->

      <!-- Statistics Card -->
      <div class="col-xl-8 col-md-6 col-12">
        <div class="card card-statistics">
          <div class="card-header">
            <h4 class="card-title">DASHBOARD</h4>
            <div class="d-flex align-items-center">
              <p class="card-text font-small-2 mr-25 mb-0"></p>
            </div>
          </div>
          <div class="card-body statistics-body">
            <div class="row">
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-primary mr-2">
                    <div class="avatar-content">
                      <i data-feather="dollar-sign" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">BUY</h4>
                    <p class="card-text font-small-3 mb-0">BTC</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                <div class="media">
                  <div class="avatar bg-light-info mr-2">
                    <div class="avatar-content">
                      <i data-feather="dollar-sign" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">SELL</h4>
                    <p class="card-text font-small-3 mb-0">BTC</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                <div class="media">
                  <div class="avatar bg-light-danger mr-2">
                    <div class="avatar-content">
                      <i data-feather="box" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">2FA</h4>
                    <p class="card-text font-small-3 mb-0">Security</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xl-3">
                <div class="media">
                  <div class="avatar bg-light-success mr-2">
                    <div class="avatar-content">
                      <i data-feather="user" class="avatar-icon"></i>
                    </div>
                  </div>
                  <div class="media-body my-auto">
                    <h4 class="font-weight-bolder mb-0">HELP</h4>
                    <p class="card-text font-small-3 mb-0">Contact</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Statistics Card -->
    </div>
    <!-- OFFER TABS -->
    <section id="basic-tabs-components">
      <div class="">
       
          <h4 class="card-title">My offers (6)</h4>
          <div class="card-body">
            <ul ngbNav #navWithIcons="ngbNav" class="nav-tabs">
              <li ngbNavItem>
                <a ngbNavLink><span [data-feather]="'arrow-down'"></span> BUY OFFERS</a>
                <ng-template ngbNavContent>
                  <!-- TABLE -->
                  <div class="row match-height">
                    <!-- Company Table -->
                    <div class="col-lg-12 col-12">
                      <div class="card card-company-table">
                        <div class="card-body p-0">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                              <tr>
                                <th>Method</th>
                                <th>limits</th>
                                <th>Rates</th>
                                <th>Options</th>
                                <th>Views</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="custom-control custom-switch custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" checked id="customSwitch2"/>
                                      <label class="custom-control-label" for="customSwitch2"></label>
                                    </div>
                                    <div>
                                      <div class="font-weight-bolder">PayPal</div>
                                      <div class="font-small-2 text-muted">Fast trades</div>
                                    </div>
                                  </div>
                                </td>

                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">200-500</span>
                                    <span class="font-small-2 text-muted">EUR</span>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">38,563</span>
                                    <span class="font-small-2 text-muted">4%</span>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="Blocked Countries: DE, AR, CA, US">
                                      <div class="avatar-content">
                                        <i data-feather="globe" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="VPN Users not allowed">
                                      <div class="avatar-content">
                                        <i data-feather="shield" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="No options added">
                                      <div class="avatar-content">
                                        <i data-feather="x-square" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="font-weight-bolder mr-1">4%</span>
                                    <i data-feather="eye" class="text-success font-medium-1"></i>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="custom-control custom-switch custom-control-inline">
                                      <input type="checkbox" class="custom-control-input" checked id="customSwitch2"/>
                                      <label class="custom-control-label" for="customSwitch2"></label>
                                    </div>
                                    <div>
                                      <div class="font-weight-bolder">PayPal</div>
                                      <div class="font-small-2 text-muted">Fast trades</div>
                                    </div>
                                  </div>
                                </td>

                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">200-500</span>
                                    <span class="font-small-2 text-muted">EUR</span>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">38,563</span>
                                    <span class="font-small-2 text-muted">4%</span>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="Blocked Countries: DE, AR, CA, US">
                                      <div class="avatar-content">
                                        <i data-feather="globe" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="VPN Users not allowed">
                                      <div class="avatar-content">
                                        <i data-feather="shield" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                    <div class="avatar bg-light-secondary mr-1" placement="bottom"
                                         ngbTooltip="No options added">
                                      <div class="avatar-content">
                                        <i data-feather="x-square" class="font-medium-3"></i>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <span class="font-weight-bolder mr-1">4%</span>
                                    <i data-feather="eye" class="text-success font-medium-1"></i>
                                  </div>
                                </td>
                              </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/ Company Table -->

                  </div>
                  <!-- TABLE -->
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink><span [data-feather]="'arrow-up'"></span> SELL OFFERS</a>
                <ng-template ngbNavContent>
                  <!-- TABLE -->
                  <div class="row match-height">
                    <!-- Company Table -->
                    <div class="col-lg-12 col-12">
                      <div class="card card-company-table">
                        <div class="card-body p-0">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                              <tr>
                                <th></th>
                                <th>Method</th>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>
                                  <div class="media">
                                    <div class="avatar bg-light-danger rounded">
                                      <div class="avatar-content">
                                        <i data-feather="shield" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                  </div>
                                </td>

                                <td class="text-nowrap">
                                  <div class="media-body">
                                    <h6 class="transaction-title">Paypal</h6>
                                    <small>EUR</small>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">Selling</span>
                                    <span class="font-small-2 text-warning">4%</span>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="font-weight-bolder text-success">$590</div>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-primary" rippleEffect>VIEW</button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="media">
                                    <div class="avatar bg-light-success rounded">
                                      <div class="avatar-content">
                                        <i data-feather="check-circle" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                  </div>
                                </td>

                                <td class="text-nowrap">
                                  <div class="media-body">
                                    <h6 class="transaction-title">Paypal</h6>
                                    <small>EUR</small>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">Selling</span>
                                    <span class="font-small-2 text-warning">4%</span>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="font-weight-bolder text-success">$590</div>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-primary" rippleEffect>VIEW</button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <div class="media">
                                    <div class="avatar bg-light-primary rounded">
                                      <div class="avatar-content">
                                        <i data-feather="check-circle" class="avatar-icon font-medium-3"></i>
                                      </div>
                                    </div>
                                  </div>
                                </td>

                                <td class="text-nowrap">
                                  <div class="media-body">
                                    <h6 class="transaction-title">Paypal</h6>
                                    <small>EUR</small>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="d-flex flex-column">
                                    <span class="font-weight-bolder mb-25">Selling</span>
                                    <span class="font-small-2 text-warning">4%</span>
                                  </div>
                                </td>
                                <td class="text-nowrap">
                                  <div class="font-weight-bolder text-success">$590</div>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-primary" rippleEffect>VIEW</button>
                                </td>
                              </tr>


                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--/ Company Table -->

                  </div>
                  <!-- TABLE -->
                </ng-template>
              </li>


            </ul>
            <div [ngbNavOutlet]="navWithIcons" class="mt-2"></div>
          </div>
      </div>
    </section>
    <!-- OFFER TABS -->





  </div>
</div>