<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div class="row match-height">


      <!-- Developer Meetup Card -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card card-developer-meetup">
          <div class="bg-light-primary rounded-top text-center">
            <img src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{address}}" alt="Meeting Pic"
                 height="170"/>
          </div>
          <div class="card-body">
            <div class="meetup-header d-flex align-items-center">

              <div class="my-auto" ngbTooltip="Send Bitcoin (BTC) to this address to add funds to your account."
                   placement="top">
                <h4 class="card-title mb-25">Receive BTC</h4>
                <p class="card-text mb-2">{{address}}</p>
              </div>
            </div>
            <div class="">
              <button type="button" class="btn btn-primary btn-block" rippleEffect (click)="copy_address()">COPY
                ADDRESS
              </button>
            </div>

          </div>

        </div>
      </div>
      <!--/ Developer Meetup Card -->
      <!-- Payment Card -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card card-payment">
          <div class="card-header">
            <h4 class="card-title">SEND BTC</h4>
            <h4 class="card-title text-primary"
                ngbTooltip="This is your current balance in {{currency}}. You can change how we display your balance from the account settings menu."
                placement="top">{{fiat}} {{currency}} </h4>
          </div>

          <div class="card-body">
            <ngb-alert [type]="'danger'" [dismissible]="true" *ngIf="error == true && success == false">
              <div class="alert-body">
                <p>{{ message }}</p>
              </div>
            </ngb-alert>
            <ngb-alert [type]="'success'" [dismissible]="true" *ngIf="success == true && error == false">
              <div class="alert-body">
                <p>{{ message }}</p>
              </div>
            </ngb-alert>
            <ngb-alert [type]="'primary'" [dismissible]="true" *ngIf="loading">
              <div class="alert-body">
                <p>Hold on. We are Processing your withdrawal</p>
              </div>
            </ngb-alert>

            <form action="javascript:void(0);" class="form">
              <div class="row">
                <div class="col-12">
                  <div class="form-group mb-2">
                    <label for="address" ngbTooltip="Enter your address here, be sure to confirm its correct"
                           placement="right">BTC Address</label>
                    <input
                      type="text"
                      id="address"
                      class="form-control"
                      placeholder="1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa"
                    />
                  </div>
                </div>

                <div class="col-12 mb-1">
                  <label id="label_amount" for="amount" ngbTooltip="Enter your amount in {{currency}}."
                         placement="right">Amount
                    ({{currency}})</label>

                  <fieldset>
                    <div class="input-group">
                      <input id="amount" type="number" class="form-control" placeholder="Enter your Amount"
                             aria-label="Amount"/>
                      <div ngbDropdown class="input-group-append">
                        <button
                          id="button_change"
                          type="button"
                          class="btn btn-outline-primary"
                          ngbDropdownToggle
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                          rippleEffect
                        >
                          {{currency}}
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu-right">
                          <a ngbDropdownItem (click)="change_currency(currency)">{{currency}}</a>
                          <a ngbDropdownItem (click)="change_currency('BTC')">BTC</a>
                          <a ngbDropdownItem (click)="change_currency('SATS')">SATS</a>

                          <div role="separator" class="dropdown-divider"></div>
                          <a ngbDropdownItem href="/pages/account-settings">Change Currency</a>
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="col-12" *ngIf="currentUser.choice_2fa == '2FA' && currentUser.factor_send == true">
                  <div class="form-group mb-2">
                    <label for="otp" ngbTooltip="Enter the code from your Authy or Google Authenticator"
                           placement="right">OTP</label>
                    <input type="number" id="otp" class="form-control" placeholder="12356"/>
                  </div>
                </div>

                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-block" (click)="sendBTC()" rippleEffect><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>SEND BTC
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!--/ Payment Card -->


      <!-- Apply Job Card -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card card-apply-job">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-1">
              <div class="media">
                <div class="avatar mr-1">
                  <img src="assets/images/portrait/small/avatar-s-7.jpg" alt="Avatar" width="42" height="42"/>
                </div>
                <div class="media-body">
                  <h5 class="mb-0">Mittie Evans</h5>
                  <small class="text-muted">Tech support</small>
                </div>
              </div>
              <div class="badge badge-pill badge-light-primary">alert</div>
            </div>
            <h5 class="apply-job-title">Why do i need to confirm the address when sending?</h5>
            <p class="card-text mb-2">
              Due to the irreversible nature of cryptocurrency protocols, transactions can't be reversed once initiated.
              This means that
              we're not able to recover any funds sent to an incorrect address. We strongly suggest that you double
              check addresses before sending
            </p>

          </div>
        </div>
      </div>
      <!--/ Apply Job Card -->


    </div>

    <section>
      <!-- Table Basic -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" ngbTooltip="BTC sent to your address will be available in your account for trading after 3
                confirmations. Which takes about 30 Minutes to One Hour"><h4 class="card-title">Crypto Transactions</h4>
            </div>
            <div class="card-body">
              <p class="card-text">
                When you send or receive BTC across the blockchain you'll see the transactions here
              </p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>amount</th>
                  <th>type</th>
                  <th>hash</th>
                  <th>date</th>
                  <th>status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr *ngFor="let tx of transactions">
                  <td
                    ngbTooltip="The value of this transaction at the time it was made was {{tx.usd  | number : '1.2-2'}} USD. The price at the time was {{tx.usdrate  | number : '1.2-2'}} USD per Bitcoin">
                    <span class="font-weight-bold">{{tx.amount}} BTC</span>
                  </td>
                  <td>{{tx.type}}</td>
                  <td (click)="copy_link(tx.hash)"><span
                    class="badge badge-pill badge-light-primary mr-1  cursor-pointer">   <i data-feather="copy"
                                                                                            class="font-small-2"></i> {{tx.hash.substring(0, 10) + '...'}} </span>
                  </td>
                  <td>{{tx.created_at | date:'medium'}}</td>
                  <td *ngIf="tx.paid == 1"
                      ngbTooltip="This transaction was confirmed on {{tx.created_at | date}}. It currently has  {{tx.confirmations}} Confirmation"
                      placement="top">Confirmed
                  </td>
                  <td *ngIf="tx.paid == 0"
                      ngbTooltip="This means that your transaction is still processing. Bitcoin transactions usually take 30 minutes to 1.5 hours to complete. However, there can be delays in the transaction if there is a high volume of transactions in the blockchain"
                      placement="top">Pending
                  </td>
                  <td>
                    <a href="https://www.blockchain.com/btc/tx/{{tx.hash}}" target="_blank"
                    ><i data-feather="chrome" class="mr-50"></i><span>View</span></a
                    >
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/ Table Basic -->


      <!-- Table Basic -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header"><h4 class="card-title">Internal Transfers</h4></div>
            <div class="card-body">
              <p class="card-text">
                These are transfers from other Website Users. Since these are off-chain transactions, the transfer is
                free and available immediately</p>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>From</th>
                  <th>To</th>
                  <th>Amount</th>
                  <th>BTC</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let internal of internal_tx">
                  <td>
                    <a href="/users/{{internal.sender}}">
                      <span class="font-weight-bold">{{internal.sender}}</span>
                    </a>

                  </td>
                  <td>
                    <a href="/users/{{internal.recepient}}">
                      <span class="font-weight-bold">{{internal.recepient}}</span>
                    </a>
                  </td>
                  <td><span class="badge badge-pill badge-light-warning mr-1"
                            ngbTooltip="This was interpreted at the time of the transaction. The current value of these Bitcoins may change depending on the market rate">{{internal.fiat}} {{internal.currency}}</span>
                  </td>
                  <td><span class="badge badge-pill badge-light-success mr-1">{{internal.amount_btc  | number:'1.8-8'}}
                    BTC</span></td>
                  <td>{{internal.created_at | date}}</td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!--/ Table Basic -->


    </section>


  </div>
</div>
