<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="bs-stepper checkout-tab-steps" id="checkoutStepper">
      <form class="auth-register-form mt-2" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="bs-stepper-content">
          <!-- Checkout Place order starts -->
          <div id="step-cart" class="content">
            <div class="card">
              <div class="card-header flex-column align-items-start">
                <h4 class="card-title">What would you like to do?</h4>
                <div class="row" style="margin-top: 1px; margin-left: 10px">
                  <div class="form-group mb-2">
                    <div style="margin-top: 5px;" class="custom-control custom-radio">
                      <input  type="radio"
                              id="sell"
                              value="sell" formControlName="todo"
                              class="custom-control-input"
                              checked />
                      <label class="custom-control-label" for="sell">Sell Bitcoin</label>
                      <p class="card-text text-muted mt-25">
                        Your offer will be listed on the Buy Bitcoin page
                      </p>
                    </div>
                    <div style="margin-top: 5px;" class="custom-control custom-radio">
                      <input  type="radio"
                              id="buy"
                             
                              value="buy" formControlName="todo"
                              class="custom-control-input"
                               />
                      <label class="custom-control-label" for="buy">Buy Bitcoin</label>
                      <p class="card-text text-muted mt-25">
                        Your offer will be listed on the Sell Bitcoin page
                      </p>
                    </div>
                  </div>
                </div>
 
 
              </div>
              <div class="card-body" style="margin-top: -10px">
                <h4 class="card-title">Choose payment preferrences</h4>
                <div class="row">
                  <div class="col-sm-6 col-12">
                    <label>Payment Method</label>
 
                    <div class="form-group">
                      <!-- Basic Multi select -->
                      <ng-select [items]="selectBasic" bindLabel="name" [loading]="selectBasicLoading" formControlName="paymentMethod"> </ng-select>
                      <!--/ Basic Multi select -->
                    </div>
                  </div>
 
                  <div class="col-sm-6 col-12">
                    <label>Preffered currency</label>
 
                    <div class="form-group">
                      <!-- Basic Multi select -->
                      <ng-select [items]="currency" bindLabel="name" [loading]="selectBasicLoading" formControlName="currency"> </ng-select>
                      <!--/ Basic Multi select -->
                    </div>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-next delivery-address"
                      
                      rippleEffect
                    >
                      NEXT STEP
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Checkout Customer Address Starts -->
          <div id="step-address" class="content">
            <p>world</p>
          </div>
          <!-- Checkout Customer Address Ends -->
   
          <!-- Checkout Payment Starts -->
          <div id="step-payment" class="content">
            <p>end of road</p>
          </div>
          <!-- Checkout Payment Ends -->
        </div>
      </form>
 
     
      <!-- Wizard starts -->
      <div class="bs-stepper-header">
        <div class="step" data-target="#step-cart">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="dollar-sign" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Payment Method</span>
              <span class="bs-stepper-subtitle">Select a method</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="chevron-right" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-address">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="alert-circle" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Pricing</span>
              <span class="bs-stepper-subtitle">Set your rate</span>
            </span>
          </button>
        </div>
        <div class="line">
          <i data-feather="check-circle" class="font-medium-2"></i>
        </div>
        <div class="step" data-target="#step-payment">
          <button type="button" class="step-trigger">
            <span class="bs-stepper-box">
              <i data-feather="check-circle" class="font-medium-3"></i>
            </span>
            <span class="bs-stepper-label">
              <span class="bs-stepper-title">Options</span>
              <span class="bs-stepper-subtitle">Finalise your offer</span>
            </span>
          </button>
        </div>
      </div>
      <!-- Wizard ends -->
 
    </div>
  </div>
</div>