<li ngbDropdown class="nav-item dropdown-notification mr-25">
  <a class="nav-link" ngbDropdownToggle id="navbarNotificationDropdown"
  ><i class="ficon" data-feather="bell"></i
  ><span class="badge badge-pill badge-danger badge-up">{{
    count
    }}</span></a
  >
  <ul
    ngbDropdownMenu
    aria-labelledby="navbarNotificationDropdown"
    class="dropdown-menu dropdown-menu-media dropdown-menu-right"
  >
    <!-- Notifications header -->
    <li class="dropdown-menu-header">
      <div class="dropdown-header d-flex">
        <h4 class="notification-title mb-0 mr-auto">Notifications</h4>
        <div class="badge badge-pill badge-light-primary">
          {{ count}} Unread
        </div>
      </div>
    </li>
    <!--/ Notifications header -->

    <!-- Notifications content -->
    <li class="scrollable-container media-list" [perfectScrollbar]>
      <a class="d-flex" [routerLink]="message.resource_path" *ngFor="let message of notifications">
        <div class="media d-flex align-items-start">
          <div class="media-left">
            <div
              class="avatar"
              [ngClass]="{
                'bg-light-info': message.heading == 'Escrow funded',
                'bg-light-primary': message.heading == 'Feedback Updated',
                'bg-light-light': message.heading == 'New Login',
                 'bg-light-warning': message.text == 'Check if you have received the money and release Bitcoin',
                'bg-light-danger': message.heading == 'Bitcoin Sent',
                'bg-light-muted': message.heading == 'You sold Bitcoin',
                'bg-light-success':message.heading
              }"
            >
              <div class="avatar-content">
                <i class="avatar-icon"
                   [data-feather]="message.heading.includes('Dispute') ? 'gitlab' :message.heading.includes('paid') ? 'check' :message.heading.includes('expired') ? 'info' :message.heading == 'Password Changed' ? 'github' :message.heading == 'New Feedback'  ? 'dollar-sign' :message.heading == 'You bought Bitcoin'  ? 'x' :message.heading == 'New Profile View' ? 'user' :message.heading == 'New Trade message' ? 'alert-circle' :message.heading == 'New Login' ? 'alert-triangle' :message.heading == 'You sold Bitcoin' ? 'check-circle' :message.heading == 'Escrow funded' ? 'shield' : message.heading == 'Bitcoin Sent' ? 'dollar-sign' : 'bell'"></i>


              </div>
            </div>
          </div>
          <div class="media-body">
            <p class="media-heading"><span class="font-weight-bolder">{{message.heading}}</span></p>
            <small class="notification-text">{{ message.text }}</small>
          </div>
        </div>
      </a
      >

    </li>
    <!--/ Notifications content -->

    <!-- Notifications footer -->
    <li class="dropdown-menu-footer">
      <a class="btn btn-primary btn-block" (click)="mark_read()">Read all notifications</a>
    </li>
    <!--/ Notifications footer -->
  </ul>
</li>
