<!-- email-sidebar -->
<div class="sidebar">
  <div class="sidebar-content email-app-sidebar" [perfectScrollbar]>
    <div class="email-app-menu">
      <div class="form-group-compose text-center compose-btn">
        <button
          type="button"
          class="compose-email btn btn-primary btn-block"
          data-target="#compose-mail"
          (click)="openCompose()"
          rippleEffect
        >
          Create Offer
        </button>
      </div>
      <div class="sidebar-menu-list">
        <!-- <hr /> -->
        <div class="list-group list-group-labels">
         <fieldset class="form-group m-1">
                  <label class="mr-1">Spend</label><input 
                      name="searchValue" type="number" class="form-control" placeholder="Amount"
                       />
                </fieldset>
        </div>
        <div class="list-group list-group-labels">
         <fieldset class="form-group m-1">
           <label class="mr-1">Pay Via</label>
                <select class="form-control" placeholder="Pay Via">
                  <option value="PayPal">Paypal</option>
                  <option value="Mpesa">Mpesa</option>
                  <option value="Bank Transfer">Bank Transfer</option>
                </select>
                </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/ email-sidebar -->
