<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul ngbNav #navVertical="ngbNav" class="nav nav-pills flex-column nav-left">
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-general"
                data-toggle="pill"
                href="#account-vertical-general"
                aria-expanded="true"
              >
                <i data-feather="user" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Profile</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">

                    <div class="card-body">
                      <ngb-alert [type]="'primary'" [dismissible]="false" *ngIf="uploading">
                        <div class="alert-body">
                          <p> Hold on. This should take a moment</p>
                        </div>
                      </ngb-alert>
                      <ngb-alert [type]="'primary'" [dismissible]="false" *ngIf="reset_error">
                        <div class="alert-body">
                          <p>{{reset_error_text}}</p>
                        </div>
                      </ngb-alert>
                      <!-- header media -->
                      <div class="media">
                        <a href="javascript:void(0);" class="mr-25">
                          <img [src]="avatarImage" class="round mr-50" alt="profile image" height="80" width="80"/>
                        </a>
                        <!-- upload and reset button -->
                        <div class="media-body mt-75 ml-1">
                          <button
                            (click)="file.click()"
                            for="account-upload"
                            class="btn btn-sm btn-primary mb-75 mr-75"
                            rippleEffect
                          >
                            Choose Image
                          </button>
                          <input
                            type="file"
                            #file
                            id="account-upload"
                            hidden
                            accept="image/*"
                            (change)="onFileSelected($event)"
                          />
                          <button class="btn btn-sm btn-outline-secondary mb-75" (click)="resetProfile()" rippleEffect>
                            Reset
                          </button>
                          <p>Allowed JPG, PNG. Max size of 4 MB</p>
                        </div>
                        <!--/ upload and reset button -->
                      </div>
                      <!--/ header media -->

                      <!-- form -->
                      <form class="validate-form mt-2">
                        <div class="row">

                          <div class="col-sm-6 col-12">
                            <label>Preferred currency</label>

                            <div class="form-group">
                              <!-- Basic Multi select -->
                              <ng-select
                                #teams
                                (change)="onSelected(teams)"
                                [(ngModel)]="selected"
                                [items]="currencies"
                                bindLabel="currency"
                                bindValue="currentUser.currency"

                                name="first"
                                [loading]="false"
                              >
                              </ng-select>
                              <!--/ Basic Multi select -->
                            </div>
                          </div>

                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label for="account-username">Phone number</label>
                              <input
                                type="text"
                                class="form-control"
                                id="account-username"
                                name="username"
                                disabled
                                value="Not available"
                                placeholder="Username"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="about">Bio</label>
                              <textarea
                                [(ngModel)]="data.accountSetting.info.bio"
                                class="form-control"
                                id="about"
                                name="accountTextarea"
                                rows="4"
                                placeholder="Your Bio data here..."
                                value="{{currentUser.about}}"
                              ></textarea>
                            </div>
                          </div>
                          <div class="col-12 mt-75" *ngIf="currentUser.verified_email == false">
                            <div class="alert alert-warning mb-50" role="alert">
                              <h4 class="alert-heading">Your email is not confirmed. Please check your inbox.</h4>
                              <div class="alert-body">
                                <a href="javascript: void(0);" (click)="resendConfirmation()" class="alert-link">Resend
                                  confirmation</a>
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <button type="submit" (click)="saveProfile()" class="btn btn-primary mt-2 mr-1"
                                    rippleEffect>Save changes
                            </button>

                          </div>
                        </div>
                      </form>
                      <!--/ form -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-password"
                data-toggle="pill"
                href="#account-vertical-password"
                aria-expanded="false"
              >
                <i data-feather="shield" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Security</span>
              </a>
              <ng-template ngbNavContent>
                <div class="alert alert-danger mb-50" *ngIf="password_response !=null" role="alert">
                  <h4 class="alert-heading">{{password_response}}</h4>
                </div>
                <div class="alert alert-danger mb-50" *ngIf="two_factor == false" role="alert">
                  <h4 class="alert-heading">2FA bolsters security by making it difficult for intruders to gain
                    unauthorized access to your account. Please Setup your 2FA immediately!</h4>
                </div>
                <br>
                <div class="card" *ngIf="two_factor == false">
                  <div class="card card-developer-meetup">
                    <div class="bg-light-primary rounded-top text-center">
                      <img src="{{currentUser.qrcode}}" alt="Meeting Pic" height="170"/>
                    </div>
                    <div class="card-body">
                      <div class="meetup-header d-flex align-items-center">
                        <div class="my-auto">
                          <h4 class="card-title mb-25">
                            Two Factor Authentication</h4>
                          <p class="card-text mb-0">Scan the QR code in Authy or Google Authenticator and enter the
                            code you see below.</p>
                          <p class="card-text mb-0"> For manual setup use this code: {{currentUser.secret}}</p>
                        </div>
                      </div>

                      <form class="validate-form">
                        <div class="">
                          <div class="input-group">
                            <input
                              id="2fa_otp"
                              type="number"
                              class="form-control"
                              placeholder="Your 2FA code"
                              aria-describedby="button-addon2"

                            />
                            <div class="input-group-append" id="button-addon2">
                              <button class="btn btn-outline-primary" type="button" (click)="set2FA()"
                                      rippleEffect>Go
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">

                    <div *ngIf="two_factor == true">
                      <div class="card card-developer-meetup">
                        <div class="alert alert-success mb-50" role="alert">
                          <h4 class="alert-heading">You are currently secured with Two Factor Authentication</h4>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-1 mb-2">
                            <div class="custom-control custom-switch">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                [checked]="factor_login"
                                id="accountSwitch4"
                                (click)="change2FA('login')"
                              />
                              <label class="custom-control-label" for="accountSwitch4">Require 2FA to Login</label>
                            </div>
                          </div>
                          <div class="col-12 mb-2">
                            <div class="custom-control custom-switch">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                [checked]="factor_send"
                                id="accountSwitch6"

                                (click)="change2FA('send')"
                              />
                              <label class="custom-control-label" for="accountSwitch6">Require 2FA to send BTC</label>
                            </div>
                          </div>
                          <div class="col-12 mb-75">
                            <div class="custom-control custom-switch">
                              <input
                                type="checkbox"
                                class="custom-control-input"
                                [checked]="factor_release"
                                id="accountSwitch5"
                                (click)="change2FA('release')"
                              />
                              <label class="custom-control-label" for="accountSwitch5">Require 2FA to Release
                                BTC</label>
                            </div>
                          </div>

                        </div>
                      </div>


                    </div>
                    <!-- form -->
                    <form class="validate-form">
                      <div class="alert alert-danger mb-50" *ngIf="reset_error == true" role="alert">
                        <h4 class="alert-heading">{{reset_error_text}}</h4>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password">Old Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeOld ? 'text' : 'password'"
                                class="form-control"
                                id="account-old-password"
                                name="password"
                                placeholder="Old Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                  class="feather font-small-4"
                                  [ngClass]="{
                                      'icon-eye-off': passwordTextTypeOld,
                                      'icon-eye': !passwordTextTypeOld
                                    }"
                                  (click)="togglePasswordTextTypeOld()"
                                ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">

                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password">New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeNew ? 'text' : 'password'"
                                id="account-new-password"
                                name="new-password"
                                class="form-control"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                  class="feather font-small-4"
                                  [ngClass]="{
                                      'icon-eye-off': passwordTextTypeNew,
                                      'icon-eye': !passwordTextTypeNew
                                    }"
                                  (click)="togglePasswordTextTypeNew()"
                                ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password">Retype New Password</label>
                            <div class="input-group form-password-toggle input-group-merge">
                              <input
                                [type]="passwordTextTypeRetype ? 'text' : 'password'"
                                class="form-control"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                <span class="input-group-text cursor-pointer"
                                ><i
                                  class="feather font-small-4"
                                  [ngClass]="{
                                      'icon-eye-off': passwordTextTypeRetype,
                                      'icon-eye': !passwordTextTypeRetype
                                    }"
                                  (click)="togglePasswordTextTypeRetype()"
                                ></i
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary mr-1 mt-1" (click)="changePassword()"
                                  rippleEffect>Change Password
                          </button>

                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                    <!-- Table Basic -->

                    <!--/ Table Basic -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-info"
                data-toggle="pill"
                href="#verification"
                aria-expanded="false"
              >
                <i data-feather="info" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Verification</span>
              </a>
              <ng-template ngbNavContent id="verification">

                <div class="row match-height">
                  <!-- User Timeline Card -->
                  <div class="container-fluid">
                    <div class="card card-user-timeline">
                      <ngb-alert class="m-1" [type]="'primary'" [dismissible]="false" *ngIf="uploading">
                        <div class="alert-body">
                          <p> Hold on. This should take a moment</p>
                        </div>
                      </ngb-alert>
                      <ngb-alert class="m-1" [type]="'primary'" [dismissible]="false" *ngIf="reset_error">
                        <div class="alert-body">
                          <p>{{reset_error_text}}</p>
                        </div>
                      </ngb-alert>
                      <div class="card-header">
                        <div class="d-flex align-items-center">
                          <i data-feather="user" class="user-timeline-title-icon"></i>
                          <h4 class="card-title">User Verification</h4>
                        </div>
                        <i data-feather="shield" class="font-medium-3 cursor-pointer"></i>
                      </div>
                      <div class="card-body">
                        <ul class="timeline ml-50 mb-0">

                          <li class="timeline-item">
                            <span class="timeline-point timeline-point-indicator"></span>
                            <div class="timeline-event">
                              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                <h6 *ngIf="currentUser.verified_email ==true">Email Verified</h6>
                                <h6 *ngIf="currentUser.verified_email ==false">Verifiy Email</h6>
                              </div>
                              <p *ngIf="currentUser.verified_email ==true">You verified your email</p>
                              <p *ngIf="currentUser.verified_email ==false">Check your email or spam folder
                              </p>
                              <div class="media align-items-center" *ngIf="currentUser.verified_email ==true">
                                <img class="mr-1" src="assets/images/icons/rocket.svg" alt="data.json" height="23"/>
                                <h6 class="media-body mb-0">{{currentUser.email}}</h6>
                              </div>
                              <button (click)="resendConfirmation()" *ngIf="currentUser.verified_email ==false" style="width: 200px;" rippleEffect
                                      class="btn btn-gradient-primary btn-block"
                                      ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against CoinPes Terms of Service will lead to a permanent ban"
                                      placement="bottom">
                                <div>
                                  <h2 class="d-inline mr-25 text-white">RESEND</h2>
                                  <sub class="text-body"><small class="text-white">email</small></sub>
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                            <span class="timeline-point  timeline-point-danger timeline-point-indicator"></span>
                            <div class="timeline-event">
                              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                <h6 *ngIf="currentUser.verified_id ==true">ID Verified</h6>
                                <h6 *ngIf="currentUser.verified_id ==false">Verifiy ID</h6>
                              </div>
                              <p *ngIf="currentUser.verified_id ==true">You verified your id</p>
                              <p *ngIf="currentUser.verified_id ==false">Upload your National ID, Drivers Licence or
                                Passport</p>
                              <div class="media align-items-center" *ngIf="currentUser.verified_id ==true">
                                <img class="mr-1" src="assets/images/icons/book.svg" alt="data.json" height="23"/>
                                <h6 class="media-body mb-0">Done</h6>
                              </div>
                              <button [routerLink]="'/forms/form-elements/file-uploader'" *ngIf="currentUser.verified_id ==false" style="width: 200px;" rippleEffect
                                      class="btn btn-gradient-primary btn-block"
                                      ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against CoinPes Terms of Service will lead to a permanent ban"
                                      placement="bottom">
                                <div>
                                  <h2 class="d-inline mr-25 text-white">UPLOAD</h2>
                                  <sub class="text-body"><small class="text-white">now</small></sub>
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                            <span class="timeline-point  timeline-point-success timeline-point-indicator"></span>
                            <div class="timeline-event">
                              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                <h6 *ngIf="currentUser.verified_address ==true">Address Verified</h6>
                                <h6 *ngIf="currentUser.verified_address ==false">Verifiy Address</h6>
                              </div>
                              <p *ngIf="currentUser.verified_address ==true">You verified your address</p>
                              <p *ngIf="currentUser.verified_address ==false">Upload your utility bill or bank
                                statement</p>
                              <div class="media align-items-center" *ngIf="currentUser.verified_address ==true">
                                <img class="mr-1" src="assets/images/icons/book.svg" alt="data.json" height="23"/>
                                <h6 class="media-body mb-0">Done</h6>
                              </div>
                              <button *ngIf="currentUser.verified_address ==false" style="width: 200px;" rippleEffect
                                      class="btn btn-gradient-primary btn-block"
                                      ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against CoinPes Terms of Service will lead to a permanent ban"
                                      placement="bottom">
                                <div>
                                  <h2 class="d-inline mr-25 text-white">UPLOAD</h2>
                                  <sub class="text-body"><small class="text-white">now</small></sub>
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                            <span class="timeline-point  timeline-point-info timeline-point-indicator"></span>
                            <div class="timeline-event">
                              <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1">
                                <h6 *ngIf="currentUser.verified_corporate ==true">Corporate Verified</h6>
                                <h6 *ngIf="currentUser.verified_corporate ==false">Verify corporate</h6>
                              </div>
                              <p *ngIf="currentUser.verified_corporate ==true">You verified your corporate account</p>
                              <p *ngIf="currentUser.verified_corporate ==false">Upload your Incorporation Documents</p>
                              <div class="media align-items-center" *ngIf="currentUser.verified_corporate ==true">
                                <img class="mr-1" src="assets/images/icons/book.svg" alt="data.json" height="23"/>
                                <h6 class="media-body mb-0">Done</h6>
                              </div>
                              <button *ngIf="currentUser.verified_corporate ==false" style="width: 200px;" rippleEffect
                                      class="btn btn-gradient-primary btn-block"
                                      ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against CoinPes Terms of Service will lead to a permanent ban"
                                      placement="bottom">
                                <div>
                                  <h2 class="d-inline mr-25 text-white">UPLOAD</h2>
                                  <sub class="text-body"><small class="text-white">now</small></sub>
                                </div>
                              </button>
                            </div>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--/ User Timeline Card -->
                </div>


              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                ngbNavLink
                class="nav-link d-flex py-75"
                id="account-pill-notifications"
                data-toggle="pill"
                href="#account-vertical-notifications"
                aria-expanded="false"
              >
                <i data-feather="bell" class="font-medium-3 mr-1"></i>
                <span class="font-weight-bold">Notifications</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <h6 class="section-label mx-1 mb-2">Activity</h6>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="data.accountSetting.notification.commentOnArticle"
                            id="accountSwitch1"
                          />
                          <label class="custom-control-label" for="accountSwitch1">
                            Email me when someone views my profile
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="data.accountSetting.notification.AnswerOnForm"
                            id="accountSwitch2"
                          />
                          <label class="custom-control-label" for="accountSwitch2">
                            Email me when Bitcoin Price Changes
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="data.accountSetting.notification.followMe"
                            id="accountSwitch3"
                          />
                          <label class="custom-control-label" for="accountSwitch3"
                          >Email me when a Crypto Deposit is confirmed</label
                          >
                        </div>
                      </div>
                      <h6 class="section-label mx-1 mt-2">Application</h6>
                      <div class="col-12 mt-1 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="telegram_bool"
                            id="accountSwitch4"
                            (click)="openLink()"
                          />
                          <label class="custom-control-label" for="accountSwitch4">Allow Telegram Notifications</label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="data.accountSetting.notification.productUpdates"
                            id="accountSwitch6"
                          />
                          <label class="custom-control-label" for="accountSwitch6">Allow Sound Notifications</label>
                        </div>
                      </div>
                      <div class="col-12 mb-75">
                        <div class="custom-control custom-switch">
                          <input
                            type="checkbox"
                            class="custom-control-input"
                            [checked]="data.accountSetting.notification.blogDigest"
                            id="accountSwitch5"
                          />
                          <label class="custom-control-label" for="accountSwitch5">Allow Email Notifications</label>
                        </div>
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-primary mt-2 mr-1" rippleEffect>Save changes</button>
                        <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect>Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
