<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-md-3 mb-2 mb-md-0">
          <ul #navVertical="ngbNav" class="nav nav-pills flex-column nav-left" ngbNav>
            <li class="nav-item" ngbNavItem>
              <a
                aria-expanded="true"
                class="nav-link d-flex py-75"
                data-toggle="pill"
                href="#account-vertical-general"
                id="account-pill-general"
                ngbNavLink
              >
                <i class="font-medium-3 mr-1" data-feather="user"></i>
                <span class="font-weight-bold">Profile</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="card-body">
                      <ngb-alert
                        *ngIf="uploading"
                        [dismissible]="false"
                        [type]="'primary'"
                      >
                        <div class="alert-body">
                          <p>Hold on. This should take a moment</p>
                        </div>
                      </ngb-alert>
                      <ngb-alert
                        *ngIf="reset_error"
                        [dismissible]="false"
                        [type]="'primary'"
                      >
                        <div class="alert-body">
                          <p>{{ reset_error_text }}</p>
                        </div>
                      </ngb-alert>
                      <!-- header media -->
                      <div class="media">
                        <a
                          *ngIf="croppedImage"
                          class="mr-25"
                          href="javascript:void(0);"
                        >
                          <img
                            [src]="croppedImage"
                            alt="profile image"
                            class="round mr-50"
                            height="80"
                            width="80"
                          />
                        </a>
                        <a
                          *ngIf="!croppedImage"
                          class="mr-25"
                          href="javascript:void(0);"
                        >
                          <img
                            [src]="avatarImage"
                            alt="profile image"
                            class="round mr-50"
                            height="80"
                            width="80"
                          />
                        </a>
                        <!-- upload and reset button -->
                        <div class="media-body mt-75 ml-1">
                          <button
                            (click)="file.click()"
                            class="btn btn-sm btn-primary mb-75 mr-75"
                            for="account-upload"
                            rippleEffect
                          >
                            Choose Image
                          </button>
                          <input
                            #file
                            (change)="fileChangeEvent($event);
                             modalOpenVC(modalVC)
                                                        "
                            accept="image/*"
                            hidden
                            id="account-upload"
                            type="file"
                          />
                          <button
                            (click)="resetProfile()"
                            class="btn btn-sm btn-outline-secondary mb-75"
                            rippleEffect
                          >
                            Reset
                          </button>
                          <p>Allowed JPG, PNG. Max size of 4 MB</p>
                        </div>
                        <!--/ upload and reset button -->
                      </div>

                      <ng-template #modalVC let-modal>
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="exampleModalCenterTitle"
                          >
                            Crop Profile Picture
                          </h5>
                          <button
                            (click)="modal.dismiss('Cross click')"
                            aria-label="Close"
                            class="close"
                            type="button"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body" ngbAutofocus tabindex="0">
                          <image-cropper
                            (cropperReady)="cropperReady()"
                            (imageCropped)="imageCropped($event)"
                            (imageLoaded)="imageLoaded()"
                            (loadImageFailed)="loadImageFailed()"
                            [aspectRatio]="4 / 3"
                            [canvasRotation]="canvasRotation"
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [roundCropper]="true"
                            [transform]="transform"
                            format="png"
                          ></image-cropper>

                        </div>
                        <div class="modal-footer d-flex justify-content-between">
                          <button
                            (click)="modal.dismiss('Cross click')"
                            class="btn btn-outline-primary"
                            rippleEffect
                            type="button"
                          >
                            Cancel
                          </button>
                          <button
                            (click)="modal.close('Accept click');uploadDP()"
                            class="btn btn-primary"
                            rippleEffect
                            type="button"
                          >
                            Upload Image
                          </button>
                        </div>
                      </ng-template>
                      <!--/ header media -->
                      <!-- form -->
                      <form class="validate-form mt-2">
                        <div class="row">
                          <div class="col-sm-6 col-12">
                            <label>Preferred currency</label>

                            <div class="form-group">
                              <!-- Basic Multi select -->
                              <ng-select
                                #teams
                                (change)="onSelected(teams)"
                                [(ngModel)]="selected"
                                [items]="currencies"
                                [loading]="false"
                                bindLabel="currency"
                                bindValue="currentUser.currency"
                                name="first"
                              >
                              </ng-select>
                              <!--/ Basic Multi select -->
                            </div>
                          </div>

                          <div class="col-12 col-sm-6">
                            <div class="form-group">
                              <label for="account-username"
                              >Phone number</label
                              >
                              <input
                                class="form-control"
                                disabled
                                id="account-username"
                                name="username"
                                placeholder="Username"
                                type="text"
                                value="Not available"
                              />
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="form-group">
                              <label for="about">Bio</label>
                              <textarea
                                class="form-control"
                                id="about"
                                name="accountTextarea"
                                placeholder="Your Bio data here..."
                                rows="4"
                                value="{{ currentUser.about }}"
                              ></textarea>
                            </div>
                          </div>
                          <div
                            *ngIf="currentUser.verified_email == false"
                            class="col-12 mt-75"
                          >
                            <div
                              class="alert alert-warning mb-50"
                              role="alert"
                            >
                              <h4 class="alert-heading">
                                Your email is not confirmed. Please
                                check your inbox.
                              </h4>
                              <div class="alert-body">
                                <a
                                  (click)="resendConfirmation()"
                                  class="alert-link"
                                  href="javascript: void(0);"
                                >Resend confirmation</a
                                >
                              </div>
                            </div>
                          </div>
                          <div class="col-12">
                            <button
                              (click)="saveProfile()"
                              class="btn btn-primary mt-2 mr-1"
                              rippleEffect
                              type="submit"
                            >
                              Save changes
                            </button>
                          </div>
                        </div>
                      </form>
                      <!--/ form -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                aria-expanded="false"
                class="nav-link d-flex py-75"
                data-toggle="pill"
                href="#account-vertical-password"
                id="account-pill-password"
                ngbNavLink
              >
                <i class="font-medium-3 mr-1" data-feather="shield"></i>
                <span class="font-weight-bold">Security</span>
              </a>
              <ng-template ngbNavContent>
                <div
                  *ngIf="password_response != null"
                  class="alert alert-danger mb-50"
                  role="alert"
                >
                  <h4 class="alert-heading">{{ password_response }}</h4>
                </div>
                <div
                  *ngIf="two_factor == false"
                  class="alert alert-danger mb-50"
                  role="alert"
                >
                  <h4 class="alert-heading">
                    2FA bolsters security by making it difficult for intruders
                    to gain unauthorized access to your account. Please Setup
                    your 2FA immediately!
                  </h4>
                </div>
                <br/>
                <div *ngIf="two_factor == false" class="card">
                  <div class="card card-developer-meetup">
                    <div class="bg-light-primary rounded-top text-center">
                      <img
                        alt="Meeting Pic"
                        height="170"
                        src="{{ currentUser.qrcode }}"
                      />
                    </div>
                    <div class="card-body">
                      <div class="meetup-header d-flex align-items-center">
                        <div class="my-auto">
                          <h4 class="card-title mb-25">
                            Two Factor Authentication
                          </h4>
                          <p class="card-text mb-0">
                            Scan the QR code in Authy or Google
                            Authenticator and enter the code you see
                            below.
                          </p>
                          <p class="card-text mb-0">
                            For manual setup use this code:
                            {{ currentUser.secret }}
                          </p>
                        </div>
                      </div>

                      <form class="validate-form">
                        <div class="">
                          <div class="input-group">
                            <input
                              aria-describedby="button-addon2"
                              class="form-control"
                              id="2fa_otp"
                              placeholder="Your 2FA code"
                              type="number"
                            />
                            <div
                              class="input-group-append"
                              id="button-addon2"
                            >
                              <button
                                (click)="set2FA()"
                                class="btn btn-outline-primary"
                                rippleEffect
                                type="button"
                              >
                                Go
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card card-developer-meetup">
                    <div class="card-body">
                      <div class="meetup-header d-flex align-items-center">
                        <div class="my-auto">
                          <h4 class="card-title mb-25">
                            Whitelist Address
                          </h4>
                          <p class="card-text mb-0">
                            Adding a whitelist ensures Bitcoin can be sent to only a few addresses that you have
                            approved.
                          </p>
                          <p class="card-text mb-0">
                            Enter a BTC Address below to add to your list
                          </p>
                        </div>
                      </div>

                      <form class="validate-form">
                        <div class="">
                          <div class="input-group">
                            <input
                              aria-describedby="button-addon2"
                              class="form-control"
                              id="whitelist"
                              placeholder="Your BTC Address"
                              type="text"
                            />
                            <div
                              class="input-group-append"
                              id="whitelist_button"
                            >
                              <button
                                (click)="addWhitelist()"
                                class="btn btn-outline-primary"
                                rippleEffect
                                type="button"
                              >
                                WHITELIST
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      <br>

                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Address</th>
                            <th>Date</th>
                            <th>Delete</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let tx of whitelist">
                            <td>
                              <span class="font-weight-bold">{{tx.address}}</span>
                            </td>
                            <td><span
                              class="badge badge-pill badge-light-primary mr-1">{{tx.created_at | date:'medium'}}</span>
                            </td>
                            <td (click)="removeWhitelist(tx.address)"><i class="mr-50" data-feather="x-circle"></i></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card card-developer-meetup">
                    <div class="card-body">
                      <div class="meetup-header d-flex align-items-center">
                        <div class="my-auto">
                          <h4 class="card-title mb-25">
                            Signed in Devices
                          </h4>
                          <p class="card-text mb-0">
                            When you sign in to new devices you'll see them here. </p>

                        </div>
                      </div>

                      <br>

                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>Location</th>
                            <th>Date</th>
                            <th>Device</th>
                            <th>IP</th>
                            <th>Delete</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let device of devices">
                            <td>
                              <span class="font-weight-bold">{{device.location}}</span>
                            </td>
                            <td><span
                              class="badge badge-pill badge-light-primary mr-1">{{device.created_at | date:'medium'}}</span>
                            </td>
                            <td><span
                              class="badge badge-pill badge-light-warning mr-1">{{device.device}}</span>
                            </td>

                            <td><span
                              class="badge badge-pill badge-light-secondary mr-1">{{device.ip}}</span>
                            </td>

                            <td (click)="deleteDevice(device.id)" role="button"><i class="mr-50"
                                                                                   data-feather="x-circle"></i></td>
                          </tr>

                          </tbody>
                        </table>
                      </div>

                      <div class="col-12">
                        <button
                          (click)="endAll()"
                          class="btn btn-primary mr-1 mt-1"
                          rippleEffect
                          type="submit"
                        >End All Sessions Except this
                        </button>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div *ngIf="two_factor == true">
                      <div class="card card-developer-meetup">
                        <div class="alert alert-success mb-50" role="alert">
                          <h4 class="alert-heading">
                            You are currently secured with Two Factor
                            Authentication
                          </h4>
                        </div>
                        <div class="row">
                          <div class="col-12 mt-1 mb-2">
                            <div class="custom-control custom-switch">
                              <input
                                (click)="change2FA('login')"
                                [checked]="factor_login"
                                class="custom-control-input"
                                id="accountSwitch4"
                                type="checkbox"
                              />
                              <label
                                class="custom-control-label"
                                for="accountSwitch4"
                              >Require 2FA to Login</label
                              >
                            </div>
                          </div>
                          <div class="col-12 mb-2">
                            <div class="custom-control custom-switch">
                              <input
                                (click)="change2FA('send')"
                                [checked]="factor_send"
                                class="custom-control-input"
                                id="accountSwitch6"
                                type="checkbox"
                              />
                              <label
                                class="custom-control-label"
                                for="accountSwitch6"
                              >Require 2FA to send BTC</label
                              >
                            </div>
                          </div>
                          <div class="col-12 mb-75">
                            <div class="custom-control custom-switch">
                              <input
                                (click)="change2FA('release')"
                                [checked]="factor_release"
                                class="custom-control-input"
                                id="accountSwitch5"
                                type="checkbox"
                              />
                              <label
                                class="custom-control-label"
                                for="accountSwitch5"
                              >Require 2FA to Release BTC</label
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- form -->
                    <form class="validate-form">
                      <div
                        *ngIf="reset_error == true"
                        class="alert alert-danger mb-50"
                        role="alert"
                      >
                        <h4 class="alert-heading">
                          {{ reset_error_text }}
                        </h4>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-old-password"
                            >Old Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                                                    passwordTextTypeOld
                                                                        ? 'text'
                                                                        : 'password'
                                                                "
                                class="form-control"
                                id="account-old-password"
                                name="password"
                                placeholder="Old Password"
                              />
                              <div class="input-group-append">
                                                                <span
                                                                  class="input-group-text cursor-pointer"
                                                                ><i
                                                                  (click)="
                                                                            togglePasswordTextTypeOld()
                                                                        "
                                                                  [ngClass]="{
                                                                            'icon-eye-off':
                                                                                passwordTextTypeOld,
                                                                            'icon-eye':
                                                                                !passwordTextTypeOld
                                                                        }"
                                                                  class="feather font-small-4"
                                                                ></i
                                                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-new-password"
                            >New Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                                                    passwordTextTypeNew
                                                                        ? 'text'
                                                                        : 'password'
                                                                "
                                class="form-control"
                                id="account-new-password"
                                name="new-password"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                                                <span
                                                                  class="input-group-text cursor-pointer"
                                                                ><i
                                                                  (click)="
                                                                            togglePasswordTextTypeNew()
                                                                        "
                                                                  [ngClass]="{
                                                                            'icon-eye-off':
                                                                                passwordTextTypeNew,
                                                                            'icon-eye':
                                                                                !passwordTextTypeNew
                                                                        }"
                                                                  class="feather font-small-4"
                                                                ></i
                                                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6">
                          <div class="form-group">
                            <label for="account-retype-new-password"
                            >Retype New Password</label
                            >
                            <div
                              class="input-group form-password-toggle input-group-merge"
                            >
                              <input
                                [type]="
                                                                    passwordTextTypeRetype
                                                                        ? 'text'
                                                                        : 'password'
                                                                "
                                class="form-control"
                                id="account-retype-new-password"
                                name="confirm-new-password"
                                placeholder="New Password"
                              />
                              <div class="input-group-append">
                                                                <span
                                                                  class="input-group-text cursor-pointer"
                                                                ><i
                                                                  (click)="
                                                                            togglePasswordTextTypeRetype()
                                                                        "
                                                                  [ngClass]="{
                                                                            'icon-eye-off':
                                                                                passwordTextTypeRetype,
                                                                            'icon-eye':
                                                                                !passwordTextTypeRetype
                                                                        }"
                                                                  class="feather font-small-4"
                                                                ></i
                                                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <button
                            (click)="changePassword()"
                            class="btn btn-primary mr-1 mt-1"
                            rippleEffect
                            type="submit"
                          >
                            Change Password
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--/ form -->
                    <!-- Table Basic -->

                    <!--/ Table Basic -->
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                aria-expanded="false"
                class="nav-link d-flex py-75"
                data-toggle="pill"
                href="#verification"
                id="account-pill-info"
                ngbNavLink
              >
                <i class="font-medium-3 mr-1" data-feather="info"></i>
                <span class="font-weight-bold">Verification</span>
              </a>
              <ng-template id="verification" ngbNavContent>
                <div class="row match-height">
                  <!-- Verification Timeline Card -->
                  <div class="container-fluid">
                    <div class="card card-user-timeline">
                      <ngb-alert
                        *ngIf="uploading"
                        [dismissible]="false"
                        [type]="'primary'"
                        class="m-1"
                      >
                        <div class="alert-body">
                          <p>Hold on. This should take a moment</p>
                        </div>
                      </ngb-alert>
                      <ngb-alert
                        *ngIf="reset_error"
                        [dismissible]="false"
                        [type]="'primary'"
                        class="m-1"
                      >
                        <div class="alert-body">
                          <p>{{ reset_error_text }}</p>
                        </div>
                      </ngb-alert>
                      <div class="card-header">
                        <div class="d-flex align-items-center">
                          <i
                            class="user-timeline-title-icon"
                            data-feather="user"
                          ></i>
                          <h4 class="card-title">User Verification</h4>
                        </div>
                        <i
                          class="font-medium-3 cursor-pointer"
                          data-feather="shield"
                        ></i>
                      </div>
                      <div class="card-body">
                        <ul class="timeline ml-50 mb-0">
                          <li class="timeline-item">
                                                        <span
                                                          class="timeline-point timeline-point-indicator"
                                                        ></span>
                            <div class="timeline-event">
                              <div
                                class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                              >
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_email ==
                                                                        true
                                                                    "
                                >
                                  Email Verified
                                </h6>
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_email ==
                                                                        false
                                                                    "
                                >
                                  Verify Email
                                </h6>
                              </div>
                              <p
                                *ngIf="
                                                                    currentUser.verified_email ==
                                                                    true
                                                                "
                              >
                                You verified your email
                              </p>
                              <p
                                *ngIf="
                                                                    currentUser.verified_email ==
                                                                    false
                                                                "
                              >
                                Check your email or spam folder
                              </p>
                              <div
                                *ngIf="
                                                                    currentUser.verified_email ==
                                                                    true
                                                                "
                                class="media align-items-center"
                              >
                                <img
                                  alt="data.json"
                                  class="mr-1"
                                  height="23"
                                  src="assets/images/icons/rocket.svg"
                                />
                                <h6 class="media-body mb-0">
                                  {{ currentUser.email }}
                                </h6>
                              </div>
                              <button
                                (click)="resendConfirmation()"
                                *ngIf="
                                                                    currentUser.verified_email ==
                                                                    false
                                                                "
                                class="btn btn-gradient-primary btn-block"
                                ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against our Terms of Service will lead to a permanent ban"
                                placement="bottom"
                                rippleEffect
                                style="width: 200px"
                              >
                                <div>
                                  <h2
                                    class="d-inline mr-25 text-white"
                                  >
                                    RESEND
                                  </h2>
                                  <sub class="text-body"
                                  ><small class="text-white"
                                  >email</small
                                  ></sub
                                  >
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                                                        <span
                                                          class="timeline-point timeline-point-danger timeline-point-indicator"
                                                        ></span>
                            <div class="timeline-event">
                              <div
                                class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                              >
                                <h6
                                  *ngIf="                 currentUser.verified_id ==
                                                                        true
                                                                    "
                                >
                                  ID Verified
                                </h6>
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_id ==
                                                                        false
                                                                    "
                                >
                                  Verify ID
                                </h6>
                              </div>
                              <p
                                *ngIf="
                                                                    currentUser.verified_id == true
                                                                "
                              >
                                You verified your id
                              </p>
                              <p
                                *ngIf="
                                                                    currentUser.verified_id == false
                                                                "
                              >
                                Upload your National ID, Drivers
                                Licence or Passport
                              </p>
                              <div
                                *ngIf="
                                                                    currentUser.verified_id == true
                                                                "
                                class="media align-items-center"
                              >
                                <img
                                  alt="data.json"
                                  class="mr-1"
                                  height="23"
                                  src="assets/images/icons/book.svg"
                                />
                                <h6 class="media-body mb-0">
                                  Done
                                </h6>
                              </div>
                              <button
                                *ngIf="currentUser.verified_id == false                                                            "
                                (click)="verify('ID')"
                                class="btn btn-gradient-primary btn-block"
                                ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against our Terms of Service will lead to a permanent ban"
                                placement="bottom"
                                rippleEffect
                                style="width: 200px"
                              >
                                <div>
                                  <h2
                                    class="d-inline mr-25 text-white"
                                  >
                                    UPLOAD
                                  </h2>
                                  <sub class="text-body"
                                  ><small class="text-white"
                                  >now</small
                                  ></sub
                                  >
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                                                        <span
                                                          class="timeline-point timeline-point-success timeline-point-indicator"
                                                        ></span>
                            <div class="timeline-event">
                              <div
                                class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                              >
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_address ==
                                                                        true
                                                                    "
                                >
                                  Address Verified
                                </h6>
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_address ==
                                                                        false
                                                                    "
                                >
                                  Verify Address
                                </h6>
                              </div>
                              <p
                                *ngIf="
                                                                    currentUser.verified_address ==
                                                                    true
                                                                "
                              >
                                You verified your address
                              </p>
                              <p
                                *ngIf="
                                                                    currentUser.verified_address ==
                                                                    false
                                                                "
                              >
                                Upload your utility bill or bank
                                statement
                              </p>
                              <div
                                *ngIf="
                                                                    currentUser.verified_address ==
                                                                    true
                                                                "
                                class="media align-items-center"
                              >
                                <img
                                  alt="data.json"
                                  class="mr-1"
                                  height="23"
                                  src="assets/images/icons/book.svg"
                                />
                                <h6 class="media-body mb-0">
                                  Done
                                </h6>
                              </div>
                              <button
                                *ngIf="currentUser.verified_address ==false"
                                (click)="verify('ADDRESS')"
                                class="btn btn-gradient-primary btn-block"
                                ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against our Terms of Service will lead to a permanent ban"
                                placement="bottom"
                                rippleEffect
                                style="width: 200px"
                              >
                                <div>
                                  <h2
                                    class="d-inline mr-25 text-white"
                                  >
                                    UPLOAD
                                  </h2>
                                  <sub class="text-body"
                                  ><small class="text-white"
                                  >now</small
                                  ></sub
                                  >
                                </div>
                              </button>
                            </div>
                          </li>
                          <li class="timeline-item">
                                                        <span
                                                          class="timeline-point timeline-point-info timeline-point-indicator"
                                                        ></span>
                            <div class="timeline-event">
                              <div
                                class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                              >
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_corporate ==
                                                                        true
                                                                    "
                                >
                                  Corporate Verified
                                </h6>
                                <h6
                                  *ngIf="
                                                                        currentUser.verified_corporate ==
                                                                        false
                                                                    "
                                >
                                  Verify corporate
                                </h6>
                              </div>
                              <p
                                *ngIf="
                                                                    currentUser.verified_corporate ==
                                                                    true
                                                                "
                              >
                                You verified your corporate account
                              </p>
                              <p
                                *ngIf="
                                                                    currentUser.verified_corporate ==
                                                                    false
                                                                "
                              >
                                Upload your Incorporation Documents
                              </p>
                              <div
                                *ngIf="
                                                                    currentUser.verified_corporate ==
                                                                    true
                                                                "
                                class="media align-items-center"
                              >
                                <img
                                  alt="data.json"
                                  class="mr-1"
                                  height="23"
                                  src="assets/images/icons/book.svg"
                                />
                                <h6 class="media-body mb-0">
                                  Done
                                </h6>
                              </div>
                              <button
                                *ngIf="
                                                                    currentUser.verified_corporate ==
                                                                    false
                                                                "
                                class="btn btn-gradient-primary btn-block"
                                (click)="verify('CORPORATE')"
                                ngbTooltip="If you have a problem contact support so a moderator joins to help you. Note that providing false information or going against our Terms of Service will lead to a permanent ban"
                                placement="bottom"
                                rippleEffect
                                style="width: 200px"
                              >
                                <div>
                                  <h2
                                    class="d-inline mr-25 text-white"
                                  >
                                    UPLOAD
                                  </h2>
                                  <sub class="text-body"
                                  ><small class="text-white"
                                  >now</small
                                  ></sub
                                  >
                                </div>
                              </button>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!--/ User Timeline Card -->
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a
                aria-expanded="false"
                class="nav-link d-flex py-75"
                data-toggle="pill"
                href="#account-vertical-notifications"
                id="account-pill-notifications"
                ngbNavLink
              >
                <i class="font-medium-3 mr-1" data-feather="bell"></i>
                <span class="font-weight-bold">Notifications</span>
              </a>
              <ng-template ngbNavContent>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <h6 class="section-label mx-1 mb-2">Activity</h6>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            [checked]="true"
                            class="custom-control-input"
                            disabled
                            id="accountSwitch1"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch1"
                          >
                            Email me when someone views my profile
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            [checked]="true"
                            class="custom-control-input"
                            disabled
                            id="accountSwitch2"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch2"
                          >
                            Email me when Bitcoin Price Changes
                          </label>
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            [checked]="true"
                            class="custom-control-input"
                            disabled
                            id="accountSwitch3"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch3"
                          >Email me when a Crypto Deposit is
                            confirmed</label
                          >
                        </div>
                      </div>
                      <h6 class="section-label mx-1 mt-2">Application</h6>
                      <div class="col-12 mt-1 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            (click)="openLink()"
                            [checked]="telegram_bool"
                            class="custom-control-input"
                            id="accountSwitch9"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch9"
                          >Allow Telegram Notifications</label
                          >
                        </div>
                      </div>
                      <div class="col-12 mb-2">
                        <div class="custom-control custom-switch">
                          <input
                            (change)="onCheckboxChange($event,'SOUND')"
                            [checked]="CHECK_SOUND"
                            class="custom-control-input"
                            id="accountSwitch10"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch10"
                          >Allow Sound Notifications</label
                          >
                        </div>
                      </div>
                      <div class="col-12 mb-75">
                        <div class="custom-control custom-switch">
                          <input
                            (change)="onCheckboxChange($event,'EMAIL')"
                            [checked]="CHECK_EMAIL"
                            class="custom-control-input"
                            id="accountSwitch11"
                            type="checkbox"
                          />
                          <label
                            class="custom-control-label"
                            for="accountSwitch11"
                          >Allow Email Notifications</label
                          >
                        </div>
                      </div>
                      <div class="col-12">
                        <button
                          class="btn btn-primary mt-2 mr-1"
                          rippleEffect
                          type="submit"
                        >
                          Save changes
                        </button>
                        <button
                          class="btn btn-outline-secondary mt-2"
                          rippleEffect
                          type="reset"
                        >
                          Cancel
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
        <div [ngbNavOutlet]="navVertical" class="col-12 col-md-9"></div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
